<% if user_signed_in? %>
    <h5>Words you have remembered:</h5>
    <hr />
    <ul class=remembered-words>
        <% current_user.words.each do |w| %>
            <li><%= link_to w.text, w, :class => 'word-link' %><%= render :partial => 'home/forget', :locals => {:word => w} %><div class=clear></div></li>

        <% end %>
    </ul>

<% end %>