<div class=panel>
  <div class=row>
    <div class="eight columns phone-two">
      <h2 style="float:left;"><%= word.text %></h2><div style="margin-top:-9px;float:left;margin-left:30px;margin-bottom:10px;"><%= render :partial => "ratings/rating", :locals => {:obj => word} %></div>
      <div style="clear:both;">
      </div>
    </div>
    <div class="four columns phone-two">
      <%= render :partial => "home/remember", :locals => {:word => word} %>
    </div>

  </div>
</div>

<%= render :partial => "home/definitions", :locals => {:word => word} %>