<% #render partial'ratings/rating' %>

<div class="row">
    <form class=nice>
        <input type=edit class="word input-text">
        <a href="#" class="word-submit nice blue button radius">Find word</a>
    </form>
</div>

<!--<div class=remember>
</div>-->
<div class=word-section>
<ul class=definitions>

</ul>
</div>

<script>

    function jcall(data1) {
//alert("!!!"+JSON.stringify(data1));
        var i;
        $.ajax({url:'/word', data:{data: data1}, type: "POST"
        });
        $(".definitions").html(" ");
        var l = data1.primaries[0].entries.length;

        for (i = 0; i<l; i++) {
            $(".definitions").append('<li style="background:rgba(255,255,255,0.5);margin:0px;padding:7px;"><div class=row><div class="nine columns phone-three"><strong>'+data1.primaries[0].entries[i].terms[0].text +'</strong>');
            if (typeof data1.primaries[0].entries[i] != 'undefined')
                if (typeof data1.primaries[0].entries[i].entries != 'undefined')
                    if (typeof data1.primaries[0].entries[i].entries[0].terms[0] != 'undefined')
                        $(".definitions").append("<div>"+data1.primaries[0].entries[i].entries[0].terms[0].text+'</div>');
            $(".definitions").append('</div><div class="three columns phone-one"></div></div></li>');
        }

        $(".definitions li:odd").css("background", "rgba(0,0,0,0.1)");
    }






$(document).ready( function () {

$(".word-submit").click(function (e) {
e.preventDefault();
a=$(".word").val();
$.ajax({
url: "http://www.google.com/dictionary/json",
dataType:'JSONP',
data: {q: a, sl: 'en', tl:'en',client: 'te', restrict:'pr%2Cde',client:'te' },
jsonpCallback: "jcall"
});



});
});

</script>