<div class="header container">

<div class="row">
  <div class="six columns">
    <a href="/" class=logo>WordGress</a>
  </div>
  <div class="six columns">
    <ul class=menu>
      <li>
        <h4><%=  link_to "My Words".to_s.html_safe, "/my-words", :class =>"my-words-link"  %></h4>
      </li>
      <li>
        <%= render'header/login' %>
      </li>
    </ul>
  </div>

</div>

</div>