/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
*/

body {
    background: url(/assets/bg.jpg) !important;
    font-shadow: 0px 1px 0px white !important;
}

.logo {
    margin-top:25px;
    display: block;
    color:#FFFFFF;
    text-shadow: 1px 1px 0px #2A85E8;
    font-size: 37px;
}

.login li {
    float: left;

    margin-right: 10px;
    margin-bottom:0px;
}
.login {
    float:right;
}

.word-submit {
margin-left: 20px;
float:left;
}
.word {
float: left;
margin-right:10px;
}


.clear {
clear: both;
}



/* Rating */
.up {
background: url(/assets/arrows.png) no-repeat -32px 1px;
width:14px;
height:14px;
cursor:pointer;
}
.down {
background: url(/assets/arrows.png) no-repeat;
    width:14px;
    height:14px;
    cursor:pointer;
}
.up-inactive {
    background: url(/assets/arrows.png) no-repeat -32px 1px;
    width:14px;
    height:14px;

}
.down-inactive {
    background: url(/assets/arrows.png) no-repeat;
    width:14px;
    height:14px;

}
.up-done {
    background: url(/assets/arrows.png) no-repeat -48px 1px;
    width:14px;
    height:14px;
    cursor:pointer;
}
.down-done {
    background: url(/assets/arrows.png) no-repeat -16px 1px;;
    width:14px;
    height:14px;
    cursor:pointer;
}

.hits {
    font-size: 8px;
}
.rating {
    padding-bottom:0px;
    padding-top:2px;
}
.rating-block div {
    margin:auto;
    text-align:center;
}

.definitions li {
    min-height: 60px;
}
.word-section {
    width:100%;
}
.header {
    background:black;
    border-bottom:2px solid red;
    margin-bottom:30px;
}
.word-link {
    height:15px;
    overflow:hidden;
}
.forget-word {
    max-width:50%;
    overflow:hidden;
    float:right;
    margin-bottom:0px;

}

.forget {
    color:red;

    background: none;
    border:none;
    cursor:pointer;
    border-bottom: 1px dashed red;
}

.remembered-words {
}
.remembered-words li {
    margin:0px;
}

.example {
    color:#AAAAAA;
}

.my-words .left {
    width:10%; float:left;   max-width:30px;

}
.my-words .right {
    margin-left:5%;
    width:85%; float:left;
}
.clear {
    clear:both;
}

.menu li {
    float:left;
    margin-right:15px;
    margin-top: 30px;
}
.menu li li {
    margin-top:0px;
}